*{
    font-family:Helvetica, Arial, sans-serif
}
.color{
    border:1px solid black;
    height:200px;
    background-color:#ffc1cb;
    text-align:center;
    line-height:200px;
}
.colore-2{
    border:1px solid black;
    height:200px;
    background-color:#ffc1cb;
    text-align:center; 
}
.ciao{
    border:1px solid white;
    background-color:#ef7f81;
    height:170px;
    line-height:170px;
    text-align:center;    
}
.space{
    padding:15px;
}
.position{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.space-square{
    position:relative;
    border:1px solid white;
    background-color:#ef7f81;
    height:170px;
    text-align:center;   
}