*{
    font-family:Helvetica, Arial, sans-serif
}
.color{
    border:1px solid black;
    height:200px;
    background-color:#ffc1cb;
    text-align:center;
    line-height:200px;
}
.ciao{
    border:1px solid white;
    background-color:#ef7f81;
    height:170px;
    text-align:center;
    line-height:170px;
}
.space-square{
    padding:15px;
}